<ng-container *ngIf="computador | async as computadors; else loading">
  <dialog [open]="dialog2" class="dialog-container2 jello-horizontal">

    <div class="dialog-titulo__container">
      <h1>{{dialogMsg}}</h1>
    </div>

    <div class="button-dialog__container2">
      <button (click)="fecharDialog()">ok</button>
    </div>
  </dialog>


  <dialog [open]="dialog" class="dialog-container jello-horizontal">


    <div class="dialog-titulo__container">
      <h1>Deseja excluir?</h1>
    </div>

    <div class="button-dialog__container">
      <button (click)="delete()">ok</button>
      <button (click)="fecharDialog()">cancelar</button>
    </div>
  </dialog>
  <main class="main-cointainer">
    <div class="card-container" *ngFor="let computadorr of computadors">

      <h2 class="titulo">{{computadorr.nome}}</h2>
      <p class="dado">{{computadorr.descricao}}</p>
      <div class="btn-container">
        <a class="btn" routerLink="/adicionar-comparacao/{{computadorr.id}}"><i class="fa-solid fa-plus"></i></a>
        <a class="btn" (click)="abrirDialog(computadorr.id)"><i class="fa-solid fa-xmark"></i></a>
        <a class="btn" (click)="atualizar(computadorr.id)"><i class="fa-solid fa-pen-to-square"></i></a>
      </div>
    </div>
  </main>
</ng-container>


<ng-template #loading>
  <div class="card_">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>
  <div class="card_">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>
  <div class="card_">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>

</ng-template>
