<section class="adicionar-container">
  <div class="card-add">
    <div class="titulo-add">
      <h1>Atualizar computador</h1>
    </div>
    <div class="formulario">
      <div>
        <label for="nome">nome</label>
        <input type="text" id="nome" placeholder="digite seu nome">
      </div>
      <div>
        <label for="descricao">descricao</label>
        <input type="text" id="descricao" placeholder="digite a descrição">
      </div>
      <div class="button-container">
        <button class="button-add">ATUALIZAR</button>
      </div>


    </div>

  </div>
</section>
