.adicionar-container {
  margin: 60px auto 0 auto;
  max-width: 896px;
  .card-add {
    display: flex;
    flex-direction: column;
    flex:896px 1 0 ;
    margin: 0 auto;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 4px;

    .titulo-add {
      display: grid;
      border-bottom: 2px solid #d9d9d9;
      align-content: center;
      margin-bottom: 60px;

      h1 {
        margin: 0 auto;
        font-weight: bold;
        color: #737373;
        padding: 20px;
      }
    }

    .formulario {

      div{
        display: flex;
        flex-direction: column;
        flex:692px 1 0 ;
        margin: 0 60px 0 60px;
        label{
          color: #737373;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
          margin-left: 10px;
        }
        input {
          background: #f9f8f6;
          border: 1px solid #d2cec5;
          border-radius: 4px;
          padding: 15px;
          margin-bottom: 20px;
        }
        input:focus{
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }
      .button-container{
        margin-top: 30px;
        align-items: flex-end;
        .button-add{
          background: #737373;
          color: #fff;
          padding: 20px;
          border: none;
          border-radius: 9px;
          font-weight: bold;
          font-size: 16px;
        }
      }




    }
  }
}
