<dialog [open]="dialog" class="dialog-container jello-horizontal">

  <div class="dialog-titulo__container">
    <h1>Deseja excluir?</h1>
  </div>

  <div class="button-dialog__container">
    <button (click)="deletar()">ok</button>
    <button (click)="fecharDialog()">cancelar</button>
  </div>


</dialog>
<section class="tabela-container">
  <table>
    <thead>
    <tr class="thead-container">
      <td class="conteudo">nome</td>
      <td class="conteudo">total</td>
      <td class="conteudo"></td>
      <td class="conteudo"></td>


    </tr>
    </thead>
    <tbody>
    <tr class="resultado-container" *ngFor="let resultados of Resultados">
      <td class="resultado">{{resultados.nome}}</td>
      <td class="resultado">{{resultados.resultado}}</td>
      <td><a class="btn" routerLink="/atualizar-comparacao"><i class="fa-solid fa-pen-to-square"></i></a></td>
      <td><a class="btn" (click)="abrirDialog()"><i class="fa-solid fa-xmark"></i></a></td>
    </tr>
    </tbody>
  </table>

</section>


