<section class="adicionar-container">
  <div class="card-add">
    <div class="titulo-add">
      <h1>Atualizar Comparação</h1>
    </div>
    <div class="formulario">
      <div>
        <label for="processador">processador</label>
        <div class="input-container">
          <input type="text" id="processador" placeholder="digite a nota">
          <input type="text"  placeholder="digite o peso">
        </div>
      </div>
      <div>
        <label for="video">placa de video</label>
        <div class="input-container"><input type="text" id="video" placeholder="digite a nota">
          <input type="text"  placeholder="digite a peso"></div>
      </div>
      <div>
        <label for="ram">memoria ram</label>
        <div class="input-container">
          <input type="text" id="ram" placeholder="digite a nota">
          <input type="text"  placeholder="digite a peso">
        </div>
      </div>
      <div class="button-container">
        <button class="button-add" (click)="atualizar()">ATUALIZAR</button>
      </div>
    </div>
  </div>
</section>

