<section class="tabela-container">
  <table>
    <thead>
    <tr class="thead-container">
      <th class="conteudo">nome</th>
      <th class="conteudo">descrição</th>
      <th class="conteudo">processador</th>
      <th class="conteudo">placa de video</th>
      <th class="conteudo">ram</th>
      <th class="conteudo">total</th>
      <th class="conteudo"></th>
      <th class="conteudo"></th>
      <th class="conteudo"></th>
    </tr>
    </thead>
    <tbody id="table-boddy">
    <tr class="resultado-container">
      <td class="resultado">nome</td>
      <td class="resultado">descrição</td>
      <td class="resultado"> processador</td>
      <td class="resultado">placa de video</td>
      <td class="resultado">ram</td>
      <td class="resultado">total</td>
      <td> <a class="btn" routerLink="/atualizar-comparacao"><i class="fa-solid fa-pen-to-square"></i></a></td>
      <td> <a class="btn"><i class="fa-solid fa-xmark"></i></a></td>
    </tr>
    </tbody>
  </table>

</section>
